<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/">Accueil</a>
      </li>
      <li>
        <a class="nav-link" href="/page">Page</a>
      </li>
      <li>
        <a class="nav-link" href="/userList">User Liste</a>
      </li>
    </ul>
  </div>
</nav>
